<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p>Hello <%= current_user.email %></p>
<p>You signed in using <%= current_user.provider %></p>
<p>Your access token is <%= current_user.access_token %></p>
<p>Your merchant_id is <%= current_user.merchant_id %></p>
